# dependencies
node_modules/

# build
dist/
*.zip
*.xpi

# parcel
.cache/
.parcel-cache/
coverage/
*.log

.DS_Store
.idea

# Yarn gitignore
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
